<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <h1>Ласкаво просимо до нашої піцерії!</h1>
        <p>Насолоджуйтесь смачною піцою, приготованою з любов'ю.</p>
        <a href="/admin" class="btn btn-primary">Додати нову піцу</a>
        <a href="/pizzas" class="btn btn-secondary">Переглянути всі піци</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>